.homecontainer{
    height:100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100vh;
    }

.page-heading h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: 300;
    padding: 0px 20px;
    border-radius: 2px;
}